@page "/fetchdata"
@using WeatherDashboard.Client.Models.ViewModels
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Location</th>
                <th>Today</th>
                <th>Tomorrow</th>
                <th>@DateTime.Today.AddDays(2).ToString("MM/dd")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.City</td>
                    <td>@forecast.Today</td>
                    <td>@forecast.Tomorrow</td>
                    <td>@forecast.ThirdDay</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherGridRow[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherGridRow[]>("WeatherForecast");
    }

}
