@page "/forecast"
@using ViewModels
@inherits ForecastBase

<h1>Three-day Weather Forecasts (&deg;C)</h1>

@if (Forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <input type="text" @bind="SearchBox" />
    <button @onclick="OnSearchClicked">Add</button>
    <SfGrid DataSource="@Forecasts" AllowSorting="true">
        <GridColumns>
            <GridColumn Field="@nameof(WeatherGridRow.City)">
            </GridColumn>
            <GridColumn Field="@nameof(WeatherGridRow.Today)" 
                        AllowSorting="false">
                <Template>
                    @{ 
                        var forecast = context as WeatherGridRow;
                        <ForecastIcon DailyForecast="forecast.Today"></ForecastIcon>
                    }
                </Template>
            </GridColumn>
            <GridColumn Field="@nameof(WeatherGridRow.Tomorrow)"
                        AllowSorting="false">
                <Template>
                    @{
                        var forecast = context as WeatherGridRow;
                        <ForecastIcon DailyForecast="forecast.Tomorrow"></ForecastIcon>
                    }
                </Template>
            </GridColumn>
            <GridColumn Field="@nameof(WeatherGridRow.ThirdDay)"
                        HeaderText="@DateTime.Today.AddDays(2).ToString("MM/dd")"
                        AllowSorting="false">
                <Template>
                    @{
                        var forecast = context as WeatherGridRow;
                        <ForecastIcon DailyForecast="forecast.ThirdDay"></ForecastIcon>
                    }
                </Template>
            </GridColumn>
        </GridColumns>
    </SfGrid>
}
