@page "/forecast"
@inherits ForecastBase

<h1>Three-day Weather Forecasts (&deg;C)</h1>

@if (Forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Location</th>
                <th>Today</th>
                <th>Tomorrow</th>
                <th>@DateTime.Today.AddDays(2).ToString("MM/dd")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in Forecasts)
            {
                <tr>
                    <td>@forecast.City</td>
                    <td class="@forecast.Today.Color">
                        <ForecastIcon DailyForecast="@forecast.Today"></ForecastIcon>
                    </td>
                    <td class="@forecast.Tomorrow.Color">
                        <ForecastIcon DailyForecast="@forecast.Tomorrow"></ForecastIcon>
                    </td>
                    <td class="@forecast.ThirdDay.Color">
                        <ForecastIcon DailyForecast="@forecast.ThirdDay"></ForecastIcon>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
