@page "/forecast"
@using ViewModels
@inherits ForecastBase

<h1>Three-day Weather Forecasts (&deg;C)</h1>

@if (Forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
<DxDataGrid Data="@Forecasts"
            ShowPager="false">
    <DxDataGridColumn Field="@nameof(WeatherGridRow.City)">
    </DxDataGridColumn>
    <DxDataGridColumn Caption="Today"
                      AllowSort="false"
                      >
        <DisplayTemplate>
            <ForecastIcon DailyForecast="@((context as WeatherGridRow).Today)">
            </ForecastIcon>
        </DisplayTemplate>
    </DxDataGridColumn>
    <DxDataGridColumn Caption="Tomorrow"
                      AllowSort="false">
        <DisplayTemplate>
            <ForecastIcon DailyForecast="@((context as WeatherGridRow).Tomorrow)">
            </ForecastIcon>
        </DisplayTemplate>
    </DxDataGridColumn>
    <DxDataGridColumn Caption="@DateTime.Today.AddDays(2).ToString("MM/dd")"
                      AllowSort="false">
        <DisplayTemplate>
            <ForecastIcon DailyForecast="@((context as WeatherGridRow).ThirdDay)">
            </ForecastIcon>
        </DisplayTemplate>
    </DxDataGridColumn>
</DxDataGrid>
}
