@page "/forecast"
@using ViewModels
@inherits ForecastBase

<h1>Three-day Weather Forecasts (&deg;C)</h1>

@if (Forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
<DxDataGrid Data="@Forecasts"
            ShowPager="false">
    <DxDataGridColumn Field="@nameof(WeatherGridRow.City)">
    </DxDataGridColumn>
    <DxDataGridColumn Caption="Today"
                      AllowSort="false"
                      >
        <DisplayTemplate>
            @{ 
                var forecast = context as WeatherGridRow;
                <div class="@forecast.Today.Color">
                    <ForecastIcon DailyForecast="forecast.Today"></ForecastIcon>
                </div>
            }
        </DisplayTemplate>
    </DxDataGridColumn>
    <DxDataGridColumn Caption="Tomorrow"
                      AllowSort="false">
        <DisplayTemplate>
            @{
                var forecast = context as WeatherGridRow;
                <div class="@forecast.Tomorrow.Color">
                    <ForecastIcon DailyForecast="forecast.Tomorrow"></ForecastIcon>
                </div>
            }
        </DisplayTemplate>
    </DxDataGridColumn>
    <DxDataGridColumn Caption="@DateTime.Today.AddDays(2).ToString("MM/dd")"
                      AllowSort="false">
        <DisplayTemplate>
            @{
                var forecast = context as WeatherGridRow;
                <div class="@forecast.ThirdDay.Color">
                    <ForecastIcon DailyForecast="forecast.ThirdDay"></ForecastIcon>
                </div>
            }
        </DisplayTemplate>
    </DxDataGridColumn>
</DxDataGrid>
}
